.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
checks
/doc/
/Meta/
tests/testthat/test-gevExpInfoLocally.R
tests/testthat/test-gevScoreLocally.R
tests/testthat/test-gevObsInfoLocally.R
tests/testthat/test-gpExpInfoLocally.R
tests/testthat/test-gpScoreLocally.R
tests/testthat/test-gpObsInfoLocally.R
R/NHPP.R
